@import "tailwindcss";

@theme {
  /* ****************** */
  /* *** Typography *** */
  /* ****************** */

  /* 1. Wipe default Tailwind text scale */
  --text-*: initial;

  /* 2. Custom text scale using Tailwind-style names */
  --text-xs: 0.75rem; /* 12px */
  --text-xs--line-height: 1.125rem; /* 18px */

  --text-sm: 0.875rem; /* 14px */
  --text-sm--line-height: 1.25rem; /* 20px */

  --text-base: 1rem; /* 16px */
  --text-base--line-height: 1.5rem; /* 24px */

  --text-lg: 1.125rem; /* 18px */
  --text-lg--line-height: 1.75rem; /* 28px */

  --text-xl: 1.25rem; /* 20px */
  --text-xl--line-height: 1.875rem; /* 30px */

  --text-2xl: 1.5rem; /* 24px */
  --text-2xl--line-height: 2rem; /* 32px */

  --text-3xl: 1.875rem; /* 30px */
  --text-3xl--line-height: 2.375rem; /* 38px */

  --text-4xl: 2.25rem; /* 36px */
  --text-4xl--line-height: 2.75rem; /* 44px */

  --text-5xl: 2.5rem; /* 40px */
  --text-5xl--line-height: 3rem; /* 48px */

  --text-6xl: 3rem; /* 48px */
  --text-6xl--line-height: 3.75rem; /* 60px */

  --text-7xl: 3.75rem; /* 60px */
  --text-7xl--line-height: 4.5rem; /* 72px */

  --text-8xl: 4.5rem; /* 72px */
  --text-8xl--line-height: 5.625rem; /* 90px */

  --font-display: "Oswald", ui-sans-serif, sans-serif;
  --font-serif: "SourceSerif", ui-serif, serif;

  /* ****************** */
  /* ***** Colors ***** */
  /* ****************** */
  --color-off-white: #f7f4ee;
  --color-black: #06140e;
  --color-tan: #e1dfda;
  --color-light-green: #becac4;
  --color-dark-green: #1d3630;
  --color-green: #6e807a;

  /* ****************** */
  /* ***** Spacing **** */
  /* ****************** */
  --spacing-fluid-section: clamp(4rem, 6.67vw + 1.87rem, 8rem);
  --spacing-fluid-inner: clamp(2rem, 3.33vw + 0.93rem, 4rem);
  --spacing-fluid-element: clamp(1.25rem, 1.25vw + 0.85rem, 2rem);

  /* ****************** */
  /* ***** Easing  **** */
  /* ****************** */
  --ease-smooth: linear(
    0,
    0.49 7.4%,
    0.864 15.3%,
    1.005 19.4%,
    1.12 23.7%,
    1.206 28.1%,
    1.267 32.8%,
    1.296 36.4%,
    1.311 40.2%,
    1.313 44.2%,
    1.301 48.6%,
    1.252 56.9%,
    1.105 74.4%,
    1.048 82.5%,
    1.011 91.1%,
    1
  );
}

@layer base {
  body {
    font-family: var(--font-serif);
    color: var(--color-dark-green);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-display);
    letter-spacing: -0.01em;
    color: var(--color-black);
  }
}

@utility ds-border {
  @apply ring-[0.75px] ring-black/20 shadow;
}
